.pageWidth {
  width: 90%;
  margin-left: 5%;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  padding: 0 0.5rem;
  color: #6c757d; /* optional: makes the arrow grey */
}

.box {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.box1 {
  border-radius: 10px;
  width: 250px;
  background: #6385ff;
}

.box1 p {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1 .text1 {
  font-size: 24px;
  margin-top: 80px;
}

.box1 .text2 {
  font-size: 18px;
  color: #3d3d3d;
}

.news {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news .text1 {
  color: grey;
}

.news .text2 {
  margin-top: 0px;
  font-size: 28px;
}

.news .box {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 80px;
}

.news .last {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12px;
}

.news .last a {
  color: #5d12d2;
  text-decoration: none;
}

.news .box .box1 {
  background: #f3f5ffe5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.news .box .box1 img {
  height: 25px;
  width: auto;
}

.news .box .box1 .text1 {
  display: inline;
  margin: 0px;
  color: #c83e4b;
}

.news .box .box1 .text2 {
  color: black;
  font-size: 10px;
  margin-top: 25px;
  font-weight: bold;
}

.news .box .box1 .text1 .red {
  color: #ff0000;
}

.news .box .box1 .text1 .blue {
  color: #00b2ff;
}

.banner {
  background: #6385ff;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 50px;
  color: white;
  border-radius: 20px;
}

.banner button {
  width: 100px;
  height: 35px;
  background: #5233ac;
  color: white;
  border-radius: 10px;
  border: none;
}

.banner .text1 {
  font-size: 28px;
}

.banner .text2,
.text3 {
  font-size: 14px;
  margin-top: 20px;
  width: 575px;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq .text1 {
  font-size: 48px;
}

.faq details {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid rgb(171, 171, 171);
  cursor: pointer;
  width: 500px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

.faq summary {
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  list-style-type: none;
}

.faq p {
  margin-top: 10px;
  color: #333;
}
