<div
  class="container d-flex align-items-center justify-content-center min-vh-100"
>
  <div class="p-4 divImpo">
    <div class="text-center mb-4">
      <img src="assets/logo.png" alt="Bluestock Logo" height="40" />
    </div>

    <form (ngSubmit)="onLogin()" [formGroup]="loginForm" class="d-flex flex-column align-items-center justify-content-center">
      <div class="mb-3 w-100">
        <label for="email" class="form-label boldImp">Email Address</label>
        <input
          type="email"
          formControlName="email"
          class="form-control border shadow-none"
          id="email"
          placeholder="johndoe@gmail.com"
        />
      </div>

      <div class="mb-0 d-flex justify-content-between align-items-center w-100">
        <label for="password" class="form-label boldImp">Password</label>
        <a href="#" class="small text-decoration-none">Forgot Password?</a>
      </div>
      <div class="d-flex border mb-3 rounded-2 w-100">
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          class="form-control border-0 shadow-none"
          id="password"
        />
        <button
          type="button"
          class="btn  border-0 "
          (click)="showPassword = !showPassword"
          title="xyz"
        >
          <i
            class="bi"
            [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
          ></i>
        </button>
      </div>

      <div class="p-3 mb-3 border border-2 border-dark rounded-4 checkboxDiv w-100">
        <input
          type="checkbox"
          class="form-check-input shadow-none"
          id="robotCheck"
          formControlName="isRobot"
        />
        <label class="form-check-label ms-2" for="robotCheck">I'm not a robot</label>

        
      </div>

      <div class="form-check mb-3 checkboxDiv w-100">
        <input
          type="checkbox"
          class="form-check-input shadow-none"
          id="keepSigned"
          formControlName="keepSignedIn"
        />
        <label class="form-check-label" for="keepSigned"
          >Keep me signed in</label
        >
      </div>

      <button type="submit" class="btn btn-primary w-100">Login</button>

      <div class="text-center d-inline-block my-3 text-muted smokeBg p-2 " >or sign in with</div>

      <button type="button" class="btn btn-light border w-100 mb-2">
        <img
          src="https://img.icons8.com/color/16/000000/google-logo.png"
          class="me-2"
          alt="xyxyyx"
        />
        Continue with Google
      </button>

      <div class="text-center mt-3">
        <a href="#" class="text-decoration-none fw-bold">Create an account</a>
      </div>
    </form>
  </div>
</div>
