<nav class="navbar navbar-expand-lg bg-white shadow-sm px-2 p-0">
  <div class="container-fluid">
    <!-- Logo Div -->
    <div>
      <a
        class="navbar-brand d-flex align-items-center justify-content-evenly"
        href="/"
      >
        <img src="../../assets/logo/logo.png" alt="logo" class="logoImg" />
        <h1 class="pt-2 ms-3 fw-bold">BLUESTOCK</h1>
      </a>
    </div>

    <!-- Grid Button -->
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-grid-3x3-gap-fill"></i>
    </button>

    <!-- Nav Buttons -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <!-- Left Side Buttons -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3 ">
        <li class="nav-item">
          <a class="nav-link text-muted fw-semibold aLink" href="/Upcoming IPO - View All"
            >IPO</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted fw-semibold aLink" href="/Products"
            >PRODUCTS</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted fw-semibold aLink" href="/Community"
            >COMMUNITY</a
          >
        </li>
        
        <li class="nav-item d-flex align-items-center justify-content-between">
          <a
            class="nav-link text-muted fw-semibold aLink d-flex align-items-center justify-content-between"
            href="/support"
          >
            SUPPORT <i class="bi bi-arrow-up-right"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted fw-semibold aLink" href="/About"
            >ABOUT</a
          >
        </li>
      </ul>

      <!-- Right side buttons -->
      <div class="d-flex flex-column flex-md-row align-items-center gap-2 ms-3 ms-md-0 ">
        <a
          class="text-muted small text-decoration-none fw-semibold fs-6 ragisterButton signInButton"
          href="/Sign In"
        >
          Sign In
        </a>
        <a
          class="btn btn-primary btn-sm px-3 fw-semibold fs-6 signUpButton"
          href="/Sign Up"
        >
          Sign Up Now
        </a>
      </div>
    </div>
  </div>
</nav>
