<app-navbar></app-navbar>
<div class="pageWidth">
  <div class="mt-5">
    <p>
      <a href="#" class="home fw-semibold text-decoration-none">Home > </a>
      <a href="#" class="careers fw-semibold text-decoration-none text-muted"
        >Contact US</a
      >
    </p>
  </div>
  <h2 class="fw-bold mt-5">How Can We Help You?</h2>

  <div class="mt-5">
    <div
      class="container d-flex flex-column flex-md-row align-item-center justify-content-evenly"
    >
      <div class="border border-1 border-dark p-4 rounded-3" style="width: 400px;" >
        <p class="text1 fw-semibold">Email Us</p>
        <p class="text2 fw-semibold text-muted">
          One of our agents will respond at the earliest
        </p>
        <button
          class="w-100 btn text-primary bg-primary-subtle fw-semibold d-flex align-item-center justify-content-between"
        >
          hello&#64;bluestock.in
          <i class="bi bi-arrow-right text-primary fw-bold"></i>
        </button>
      </div>
      <div class="border border-1 border-dark p-4 rounded-3" style="width: 400px;">
        <p class="text1 fw-semibold">Chat us</p>
        <p class="text2 fw-semibold text-muted">
          Available from 8:00AM to 5:00PM
        </p>
        <button
          class="w-100 btn text-primary bg-primary-subtle fw-semibold d-flex align-item-center justify-content-between"
        >
          Open Chat <i class="bi bi-arrow-right text-primary fw-bold"></i>
        </button>
      </div>
    </div>
  </div>
 
</div>


<div class="community p-5 ">
    <h1 class="fw-bold" >Interact With Us in Our Active Community</h1>
    <p class="text2 mt-3 text-center ">
      Ask questions or discuss anything related to investing or trading in the
      most active trading & investing community
    </p>
    <button class="mt-3 shadow shadow-dark " >JOIN NOW</button>
  </div>
