<div class="container-fluid px-4 py-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="fw-semibold">Upcomming IPO | Dashboard</h5>
    <button class="btn btn-outline-primary border-2">Register IPO</button>
  </div>

  <div class="table-responsive">
    <table class="table align-middle table-borderless">
      <thead class="table-light">
        <tr>
          <th>Company</th>
          <th>Price Band</th>
          <th>Open</th>
          <th>Close</th>
          <th>Issue Size</th>
          <th>Issue Type</th>
          <th>Listing Date</th>
          <th>Status</th>
          <th>Action</th>
          <th>Delete/View</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ipo of ipos">
          <td>{{ ipo.company }}</td>
          <td>{{ ipo.priceBand }}</td>
          <td>{{ ipo.open }}</td>
          <td>{{ ipo.close }}</td>
          <td>{{ ipo.size }}</td>
          <td>{{ ipo.type }}</td>
          <td>{{ ipo.listing }}</td>
          <td>
            <span
              class="badge rounded-pill border px-3 py-2 fw-medium"
              [ngClass]="getBadgeClass(ipo.status)"
            >
              {{ ipo.status }}
            </span>
          </td>
          <td>
            <button class="btn btn-primary btn-sm fw-semibold">Update</button>
          </td>
          <td >
            <i class="bi bi-trash text-danger me-2" role="button"></i>
            <i class="bi bi-eye ms-1" role="button"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <nav class="mt-4">
    <ul class="pagination d-flex gap-2 fw-semibold text-white">
      <li class="page-item disabled">
        <a class="page-link" href="#"><i class="bi bi-chevron-left"></i></a>
      </li>
      <li class="page-item btn-primary active">
        <a class="page-link rounded-2" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link rounded-2 text-dark" href="#">2</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link rounded-2 text-dark" href="#">…</a>
      </li>
      <li class="page-item">
        <a class="page-link rounded-2 text-dark" href="#">9</a>
      </li>
      <li class="page-item">
        <a class="page-link rounded-2 text-dark" href="#">10</a>
      </li>
      <li class="page-item">
        <a class="page-link rounded-2 text-dark" href="#"
          ><i class="bi bi-chevron-right"></i
        ></a>
      </li>
    </ul>
  </nav>
</div>
