<div class="referencePage">
  
  <div class="container">
    <div class="someText">
      <h3>Frequently Asked Questions?</h3>
      <p>
        Find answers to common questions that come in your mind related to IPO.
      </p>
    </div>
    <div class="accordion" id="accordionExample">
      <div
        class="accordion-item fw-bold mb-3"
        *ngFor="let faq of faqs; let i = index"
      >
        <h2 class="accordion-header" id="heading{{ i }}">
          <button
            class="accordion-button fw-bold"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse' + i"
            aria-expanded="true"
            [attr.aria-controls]="'collapse' + i"
          >
            {{ faq.question }}
          </button>
        </h2>
        <div
          [id]="'collapse' + i"
          class="accordion-collapse collapse"
          [class.show]="i === 0"
          [attr.aria-labelledby]="'heading' + i"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <ul *ngIf="faq.answer.length > 1">
              <li *ngFor="let step of faq.answer">{{ step }}</li>
            </ul>
            <p *ngIf="faq.answer.length === 1">{{ faq.answer[0] }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
