
body{
    background-color: #f8f9fa;
}


.card-title {
    font-size: 1.1rem;
  }
  
  .card-text {
    font-size: 0.9rem;
  }
  
  input.form-control::placeholder {
    color: #999;
  }


  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 0 0.5rem;
    color: #6c757d; /* optional: makes the arrow grey */
  }
  
  