<app-navbar></app-navbar>

<div class="my-5">
  <div class="pageWidth bg-white">
    <div class="mt-3">
      <nav>
        <ol class="breadcrumb custom-breadcrumb small">
          <li class="breadcrumb-item text-primary fw-semibold">Home</li>
          <li class="breadcrumb-item fw-semibold text-muted">Career</li>
        </ol>
      </nav>
    </div>
    <div
      class="container mt-3 d-flex flex-column flex-md-row align-item-center justify-content-between"
    >
      <div
        class="d-flex flex-column col-12 col-lg-5 align-item-center justify-content-center"
      >
        <h1 class="fw-bold">Together Let's Build The Future Of Fintech !</h1>
        <p class="mt-2 fw-semibold text-muted">
          Join Bluestock Fintech to create disruptive fin-tech products, <br />
          while working from anywhere!
        </p>
        <button
          title="sldjskbj"
          class="btn btn-primary mt-2 w-50 fw-semibold mb-4 mb-md-0 splBtn "
        >
          See Job Openings
        </button>
      </div>
      <div class="d-flex flex-column align-item-center justify-content-evenly">
        <div
          class="emptyDiv1 d-flex flex-column align-item-center justify-content-evenly"
        >
          <img
            alt="ajskje"
            src="../../assets/images/Rectangle 4188.png"
            style="height: 100%; width: 100%"
          />
        </div>
      </div>
    </div>

    <div
      class="container bg-primary d-flex flex-column flex-md-row my-3 rounded-4 align-item-center justify-content-evenly"
    >
      <div class="d-flex">
        <img
          src="../../assets/images/Phone Image.png"
          alt="phone"
          class="mobileImage"
        />
        <h3
          class="d-flex flex-column align-item-center justify-content-start mt-5 text-warning fw-bold smallFont"
        >
          4.4 K+ <br />DOWNLOADS
        </h3>
      </div>

      <div class="mt-md-5">
        <div class="text-white splTxt fs-1 d-flex flex-row flex-md-column">
          Enjoy Free Learning, Analytics
          <p class="ms-md-0 ms-2">Club</p>
        </div>

        <h6 class="text-light mb-md-1 mb-3 ">Get the link to download the App</h6>
        <div
          class="bg-white d-flex align-item-center justify-content-between p-2 rounded-2 "
        >
          <input
            title="lasknjbd"
            type="text"
            class="p-2 w-50 border-0 fw-semibold"
          /><button class="btn btn-primary fw-semibold  ">Send App Link</button>
        </div>
        <div class="d-flex">
          <img
            src="../../assets/images/QR code image.png"
            alt=""
            class="mt-3"
            style="height: 100px; width: 100px"
          />
          <div>
            <div class="">
              <div
                class="d-flex flex-column justify-content-center justify-content-md-end"
              >
                <a href="/" class="btn mx-2 rounded-2 p-2">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
                    alt="Google Play"
                    class="img-fluid bg-transparent rounded-2"
                    width="150"
                  />
                </a>
                <a href="/" class="btn mx-2 rounded-2">
                  <img
                    src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"
                    alt="Google Play"
                    class="img-fluid bg-transparent rounded-2"
                    width="150"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>



<div class=" splDiv bg-primary-subtle  fs-4 text-center text-dark p-5 d-flex  align-item-center justify-content-evenly">
 
    All official communication with the HR team at Bluestock Fintech will be
    through hrbluestock.in
 
</div>
