/* 
  
  .sidebar {
    width: 200px;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 15px 0;
    font-weight: bold;
    cursor: pointer;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .comparison-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .card {
    width: 45%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .card img {
    width: 100px;
    height: auto;
  }
  
  .card button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #00c853;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .charges table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .charges th, .charges td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
  }
  
  .chart img {
    width: 100%;
    max-width: 700px;
  }
   */

   .card img {
    width: 100px;
    height: auto;
  }

  .content {
    width: 70%;
    margin-left: 15%;
  }

  
  
  th, td {
    vertical-align: middle;
  }
  
  .table-primary {
    color: white;
  }
  
 .brokerCharges{
    height: auto;
    width: 100%;
 }

 .brokerCharges img{
    width: 100%;
 }


  @media (max-width: 768px) {
    .card img {
        width: 50px;
        height: auto;
      }

      .dematBtn{
        font-size: 10px;
      }
    
      .tables{
        font-size: 10px;
        padding: 0 !important;
      }

      .content {
        width: 100%;
        margin-left: 0%;
      }
  }

