<header>
  <div class="logo">
    <img src="images/logo_min.png" alt="logo" />
    <p><b>BLUESTOCK</b></p>
  </div>
  <section>
    <ul>
      <li>IPO</li>
      <li>COMMUNITY</li>
      <li>PRODUCTS</li>
      <li>BROKERS</li>
      <li>LIVE NEWS</li>
    </ul>
  </section>
  <div class="button">
    <a href="#"><button class="button1">Sign In</button></a>
    <a href="#"><button class="button2">Sign Up Now</button></a>
  </div>
</header>
<div class="link">
  <p>
    <a href="#" class="home">Home > </a>
    <a href="#" class="careers">Careers</a>
  </p>
</div>
<div class="hero">
  <div class="opening1">
    <p>
      Together Let's Build The <br />
      Future Of Fintech !
    </p>
    <div class="opening2">
      <p>
        Join Bluestock Fintech to create disruptive <br />
        fin-tech products, while<br />
        working from anywhere!
      </p>
    </div>
    <a href="#">
      <button>See Job Openings</button>
    </a>
  </div>
  <div class="stock">
    <img src="images/Rectangle 4188.png" alt="" />
  </div>
</div>
<div class="download">
  <img src="images/Phone Image.png" alt="phone" />
  <p>
    <b>4.4 K+ <br />DOWNLOADS</b>
  </p>
  <div class="box">
    <p>Enjoy Free Learning, Analytics Club</p>
    <div class="text">
      <p>Get the link to download the App</p>
      <input title=";lasknjbd" type="text" /><button>Send App Link</button>
    </div>
    <div class="qrlink">
      <img src="images/QR code image.png" alt="" />
      <div class="store">
        <img src="images/image-1.png" alt="" />
        <img src="images/image.png" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="endtext">
  <p>
    All official communication with the HR team at Bluestock Fintech will be
    through hrbluestock.in
  </p>
</div>
