.divImpo {
    width: 100%;
    max-width: 400px;
    font-weight: 900px;
  }
  
  .boldImp {
    font-weight: 600;
    color: black;
  }
  
  /* In your component's CSS or a global stylesheet */
  input[type="password"]::-ms-reveal {
    display: none; /* For Internet Explorer and Edge */
  }
  
  input[type="password"]::-webkit-credentials-auto-fill-button {
    visibility: hidden; /* For Chrome */
    display: none !important; /* Add !important for extra specificity */
  }
  
  /* your-component.component.css */
  input[type="checkbox"]:focus {
    border-color: green !important;
    outline: none !important;
  }
  
  
  
  .smokeBg{
    background-color: whitesmoke;
  }


  
img {
  height: 35px;
}


@media (max-width: 576px) {
  img {
    height: 30px;
  }
}
 

.alert {
  color: red;
  padding: 10px;
  background-color: #ffe5e5;
  border-radius: 5px;
}
