<div class="bg-white">
  <app-navbar></app-navbar>

  <div class="pageWidth bg-white">
    <div class="mt-3">
      <nav>
        <ol class="breadcrumb custom-breadcrumb small">
          <li class="breadcrumb-item text-primary fw-semibold">Home</li>
          <li class="breadcrumb-item fw-semibold">Community</li>
        </ol>
      </nav>
    </div>

    <div
      class="container mt-3 mt-md-5 d-flex flex-column flex-md-row align-item-center justify-content-between"
    >
      <div class="d-flex flex-column col-12 col-lg-3">
        <h2 class="fw-bold">
          The Most Active Community of Traders & Investors
        </h2>
        <p class="mt-2 fw-semibold text-muted">
          Join now to interact with thousands of active traders and investors to
          learn and share your knowledge on out buzzing forum.
        </p>
        <button
          title="sldjskbj"
          class="btn btn-primary mt-2 w-75 fw-semibold mb-4 mb-md-0"
        >
          Join Our Community
        </button>
      </div>
      <div
        class="oterDiv d-flex flex-column align-item-center justify-content-evenly bg-primary-subtle"
      >

        <div
          class="innerdivwithborderdodet border-dotted d-flex flex-column align-item-center justify-content-evenly "
          style="height: 400px; width: 300px"
        >
        <button title="qwkjeh" class="btn btn-primary w-50 ms-5 fw-semibold p-2 " >Bluestock Team</button>

      </div>
      </div>
    </div>

    <div
      class="container mt-3 mt-md-5 d-flex flex-column flex-md-row align-item-center justify-content-between"
    >
      <div class="d-flex flex-column col-12 col-lg-3">
        <h2 class="fw-bold">be a part of trading & investments club</h2>
        <ul class="list-unstyled fw-semibold text-muted mt-md-4">
          <li class="d-flex">
            <i class="bi bi-check2 text-dark"></i>
            <p class="ms-2">rich environment for knowledge exchange.</p>
          </li>
          <li class="d-flex">
            <i class="bi bi-check2"></i>
            <p class="ms-2">stay connected about the latest stock market</p>
          </li>
          <li class="d-flex">
            <i class="bi bi-check2"></i>
            <p class="ms-2">
              Access exclusive community events, webinars, and meet-ups
            </p>
          </li>
        </ul>
      </div>
      <div
        class="oterDiv d-flex flex-column align-item-center justify-content-evenly bg-primary-subtle"
      >
      <div
      class="innerdivwithborderdodet"
      style="height: 300px; width: 300px"
    ></div>
      </div>
    </div>
    <div class="mt-5 w-100 d-flex align-item-center justify-content-evenly">
      <div>
        <h1 class="fw-bold">Team Bluestock Cares</h1>
        <p class="fw-semibold text-muted">
          Interact with our members to engage, clarify and contribute
        </p>
      </div>
    </div>
    <div
      class="container mt-3 mt-md-5 d-flex flex-column flex-md-row align-item-center justify-content-center"
    >
      <div
        class="container d-flex flex-column flex-md-row align-item-center justify-content-evenly"
      >
        <div class="d-flex flex-column col-12 col-lg-3">
          <h2 class="fw-bold">Interact With Our Experts</h2>
          <ul class="list-unstyled fw-semibold text-muted mt-md-4 custom-list">
            <li class="d-flex">
              <p class="ms-2">Get valid suggestions</p>
            </li>
            <li class="d-flex">
              <p class="ms-2">Raise issues or concerns</p>
            </li>
            <li class="d-flex">
              <p class="ms-2">Ask your questions</p>
            </li>
          </ul>
        </div>
        <div
          class="oterDiv d-flex flex-column align-item-center justify-content-evenly bg-primary-subtle"
        >
          <div
            class="innerdivwithborderdodet"
            style="height: 300px; width: 300px"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<br />
