<div
  class="container d-flex align-items-center justify-content-center min-vh-100"
>
  <div class="p-4 divImpo">
    <div class="text-center mb-4">
      <img src="assets/logo.png" alt="Bluestock Logo" height="40" />
    </div>

    <form
      (ngSubmit)="onLogin()"
      [formGroup]="loginForm"
      class="d-flex flex-column align-items-center justify-content-center"
    >
      <h5 class="mb-3 fw-bold">Forget Password?</h5>
      <p class="text-center">
        Enter your email address to get the password reset link.
      </p>

      <div class="mb-3 w-100">
        <label for="email" class="form-label boldImp">Email Address</label>
        <input
          type="email"
          formControlName="email"
          class="form-control border shadow-none"
          id="email"
          placeholder="johndoe@gmail.com"
        />
      </div>

      <button type="submit" class="btn btn-primary w-100">
        Password Reset
      </button>

      <div class="text-center mt-3">
        <a href="#" class="text-decoration-none">Back to login</a>
      </div>
    </form>
  </div>
</div>
